In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/trinet.tbs-004409/Downloads/hasGUIDs.csv")
df.columns=['Name', 'Guid', 'String1', 'String2']

In [7]:
df['Avatar']= np.where((df.String1 == 'icontime') & (df.String2 != 'NaN'),1,0)

In [87]:
print(df)

       Profile Number (GUID)  Avatar  DepartmentOrSchool  PhoneNumber  Email  \
0                         96       0                   1            1      0
1                        104       1                   1            1      1
2                        110       0                   1            1      1
3                        116       1                   1            1      1
4                        145       1                   1            1      1
5                        153       1                   1            1      1
6                        200       1                   1            1      1
7                        201       1                   1            1      1
8                        214       0                   1            1      1
9                        215       0                   1            1      1
10                       217       1                   1            1      1
11                       239       1                   1            1      1
12                       241       1                   1            1      1
13                       242       1                   1            1      1
14                       244       0                   1            1      1
15                       246       1                   1            1      1
16                       248       1                   1            1      1
17                       253       1                   1            1      1
18                       254       0                   1            1      1
19                       255       1                   1            1      1
20                       263       1                   1            1      1
21                       265       1                   1            1      1
22                       268       0                   1            1      1
23                       269       0                   1            1      1
24                       270       1                   1            1      1
25                       272       1                   1            1      1
26                       275       1                   1            1      1
27                       279       1                   1            1      1
28                       280       1                   1            1      1
29                       281       0                   1            1      1
...                      ...     ...                 ...          ...    ...
16805                 449306       0                   0            0      1
16806                 449307       0                   0            0      1
16807                 449314       0                   0            0      1
16808                 449318       0                   0            0      1
16809                 449319       0                   0            0      1
16810                 449379       0                   0            0      1
16811                 449382       0                   0            0      1
16812                 449389       0                   0            0      1
16813                 449391       0                   0            0      1
16814                 449393       0                   0            0      1
16815                 449415       0                   1            0      1
16816                 449424       0                   0            0      1
16817                 449425       0                   0            0      1
16818                 449426       0                   0            0      1
16819                 449436       0                   1            0      1
16820                 449455       0                   1            0      1
16821                 449458       0                   0            0      1
16822                 449473       0                   0            0      1
16823                 449477       0                   0            0      1
16824                 449647       0                   0            0      1
16825                 449657       0                   0            0      1
16826                 449735       0                   1            1      1
16827                 449736       0                   0            0      1
16828                 449745       0                   0            0      1
16829                 449753       1                   1            1      1
16830                 449760       0                   0            0      1
16831                 449761       0                   1            0      1
16832                 449806       0                   0            0      1
16833                 449808       0                   0            0      1
16834                 449809       0                   0            0      1

       Description  SocialMedia  Education  WorkExperiance  Skills Groups  \
0                1            1          0               0       1      1
1                0            1          0               0       1      1
2                1            1          1               1       1      1
3                1            1          1               1       1      1
4                0            1          0               0       0      1
5                0            1          0               1       1      1
6                0            1          0               0       0      1
7                0            1          0               0       0      1
8                0            1          0               0       0      1
9                0            1          0               0       1      1
10               1            1          0               0       1      1
11               1            1          1               1       1      1
12               1            1          0               1       1      1
13               0            1          0               0       0      1
14               0            1          0               0       0      1
15               1            1          1               1       1      1
16               0            1          0               0       0      1
17               0            1          0               0       1      1
18               0            1          0               0       0      1
19               1            1          1               1       1      1
20               0            1          1               1       0      1
21               1            1          1               1       1      1
22               0            1          0               0       0      1
23               0            1          0               0       0      1
24               1            1          1               1       1      1
25               1            1          1               1       0      1
26               1            1          1               1       1      1
27               1            1          1               1       1      1
28               0            1          0               0       0      1
29               0            1          0               0       0      1
...            ...          ...        ...             ...     ...    ...
16805            0            0          0               0       0      1
16806            0            0          0               0       0      1
16807            0            0          0               0       0      1
16808            0            0          0               0       0      1
16809            0            0          0               0       0      1
16810            0            0          0               0       1      1
16811            0            0          1               0       1      1
16812            0            0          0               0       0      1
16813            0            0          0               0       0      1
16814            0            0          0               0       0      1
16815            0            0          0               0       0      1
16816            0            0          0               0       0      1
16817            0            0          0               0       0      1
16818            0            0          0               0       0      1
16819            0            0          0               0       0      1
16820            0            0          0               0       0      1
16821            0            0          0               0       0      1
16822            0            0          0               0       0      1
16823            0            0          0               0       0      1
16824            0            0          0               0       0      1
16825            0            0          0               0       0      1
16826            1            1          1               1       0      1
16827            0            0          0               0       0      1
16828            0            0          0               0       1      1
16829            0            1          0               0       0      1
16830            0            0          0               0       1      1
16831            0            0          0               0       0      1
16832            0            0          0               0       0      1
16833            0            0          0               0       0      1
16834            0            0          1               0       0      1

       Profile Completeness  NumberOfGroups  WirePosts
0                         6               7          0
1                         7              24         40
2                         9               7          0
3                        10             137        102
4                         6              12          0
5                         8              17          1
6                         6               7          0
7                         6               4          0
8                         5               1          0
9                         6               7          0
10                        8              20          4
11                       10              84        173
12                        9               6          0
13                        6               4          1
14                        5               3          0
15                       10              18          8
16                        6               8          2
17                        7              15          0
18                        5               1          0
19                       10              11         32
20                        8               5          0
21                       10              13          4
22                        5               5          0
23                        5               2          0
24                       10               9          0
25                        9              13          3
26                       10               6         17
27                       10              27          9
28                        6              24         13
29                        5              20          0
...                     ...             ...        ...
16805                     2               3          0
16806                     2               2          0
16807                     2               1          0
16808                     2               1          0
16809                     2               3          0
16810                     3               2          0
16811                     4               2          0
16812                     2               1          0
16813                     2               2          0
16814                     2               2          0
16815                     3               2          0
16816                     2               2          0
16817                     2               1          0
16818                     2               2          0
16819                     3               2          0
16820                     3               2          0
16821                     2               1          0
16822                     2               1          0
16823                     2               2          0
16824                     2               1          0
16825                     2               1          0
16826                     8               1          0
16827                     2               2          0
16828                     3               2          0
16829                     6               7          0
16830                     3               2          0
16831                     3               2          0
16832                     2               2          0
16833                     2               5          0
16834                     3               1          0

[16835 rows x 14 columns]

In [3]:
df=df.reindex(columns=['Guid', 'Avatar', 'DepartmentOrSchool', 'PhoneNumber', 'Email', 'SocialMedia', 'Description', 'Education', 'WorkExperiance', 'Skills', 'Groups'])

In [8]:
df['DepartmentOrSchool']= np.where((df.String1 == 'university') & (df.String2 != 'NaN'),1,0)

In [9]:
df['PhoneNumber']= np.where((df.String1 == 'phone') & (df.String2 != 'NaN'),1,0)

In [10]:
df['Email']= np.where((df.String1 == 'notification:method:email') & (df.String2 != 'NaN'),1,0)

In [11]:
df['Description']= np.where((df.String1 == 'description') & (df.String2 != 'NaN'),1,0)

In [12]:
df['DepartmentOrSchool']= np.where((df.String1 == 'federal') & (df.String2 != 'NaN'),1,0)

In [13]:
df['DepartmentOrSchool']= np.where((df.String1 == 'college') & (df.String2 != 'NaN'),1,0)

In [14]:
df['DepartmentOrSchool']= np.where((df.String1 == 'provincial') & (df.String2 != 'NaN'),1,0)

In [15]:
df['DepartmentOrSchool']= np.where((df.String1 == 'ministry') & (df.String2 != 'NaN'),1,0)

In [16]:
df['SocialMedia']= np.where((df.String1 == 'website') & (df.String2 != 'NaN'),1,0)

In [17]:
df['SocialMedia']= np.where((df.String1 == 'facebook') & (df.String2 != 'NaN'),1,0)

In [18]:
df['SocialMedia']= np.where((df.String1 == 'google') & (df.String2 != 'NaN'),1,0)

In [19]:
df['SocialMedia']= np.where((df.String1 == 'github') & (df.String2 != 'NaN'),1,0)

In [20]:
df['SocialMedia']= np.where((df.String1 == 'twitter') & (df.String2 != 'NaN'),1,0)

In [21]:
df['SocialMedia']= np.where((df.String1 == 'linkedin') & (df.String2 != 'NaN'),1,0)

In [22]:
df['SocialMedia']= np.where((df.String1 == 'pinterest') & (df.String2 != 'NaN'),1,0)

In [23]:
df['SocialMedia']= np.where((df.String1 == 'tumblr') & (df.String2 != 'NaN'),1,0)

In [24]:
df['SocialMedia']= np.where((df.String1 == 'instagram') & (df.String2 != 'NaN'),1,0)

In [25]:
df['SocialMedia']= np.where((df.String1 == 'flickr') & (df.String2 != 'NaN'),1,0)

In [26]:
df['SocialMedia']= np.where((df.String1 == 'youtube') & (df.String2 != 'NaN'),1,0)

In [27]:
df['Education']= np.where((df.String1 == 'education') & (df.String2 != 'NaN'),1,0)

In [28]:
df['WorkExperiance']= np.where((df.String1 == 'work') & (df.String2 != 'NaN'),1,0)

In [29]:
df['Skills']= np.where((df.String1 == 'gc_skills') & (df.String2 != 'NaN'),1,0)

In [30]:
df = df.drop(columns=['String1', 'String2'])

In [32]:
df = df.groupby(['Guid']).sum()

In [38]:
df['SocialMedia']= np.where((df.SocialMedia > 0),1,0)

In [39]:
df['DepartmentOrSchool']= np.where((df.DepartmentOrSchool > 0),1,0)

In [40]:
df['PhoneNumber']= np.where((df.PhoneNumber > 0),1,0)

In [41]:
df['Email']= np.where((df.Email > 0),1,0)

In [42]:
df['Description']= np.where((df.Description > 0),1,0)

In [43]:
df['Education']= np.where((df.Education > 0),1,0)

In [44]:
df['WorkExperiance']= np.where((df.WorkExperiance > 0),1,0)

In [45]:
df['Skills']= np.where((df.Skills > 0),1,0)

In [47]:
df['Profile Completeness'] = df.sum(axis=1)

In [50]:
import gccollab as gc
gc.connect_to_database()
gc.create_session()

(<sqlalchemy.orm.session.Session at 0x4004e66d68>, sqlalchemy.ext.automap.Base)

In [56]:
df2 = gc.groups.get_membership()

In [65]:
print(df2)

         Guid  group_guid
0          96           7
1         104          24
2         110           7
3         116         137
4         145          12
5         153          17
6         200           7
7         201           4
8         214           1
9         215           7
10        217          20
11        239          84
12        241           6
13        242           4
14        244           3
15        246          18
16        248           8
17        253          15
18        254           1
19        255          11
20        263           5
21        265          13
22        268           5
23        269           2
24        270           9
25        272          13
26        275           6
27        279          27
28        280          24
29        281          20
...       ...         ...
25570  845446           1
25571  845447           1
25572  845465           1
25573  845557           1
25574  845558           1
25575  845577           2
25576  845596           1
25577  845608           1
25578  845610           1
25579  845672           1
25580  845684           1
25581  845709           1
25582  845710           2
25583  845716           1
25584  845718           2
25585  845800           1
25586  845947           1
25587  845949           1
25588  846017           1
25589  846022           2
25590  846359           1
25591  846375           1
25592  846376           2
25593  846377           1
25594  846381           2
25595  846977           1
25596  846985           1
25597  846990           1
25598  846995           1
25599  847023           1

[25600 rows x 2 columns]

In [60]:
df2 = df2.drop(columns=['user_name', 'group_name', 'time_created'])

In [61]:
df2 = df2.groupby(['Guid']).count()

In [58]:
df2 = df2.rename(columns={'user_guid': 'Guid'})

In [67]:
df = pd.merge(df, df2, on='Guid')

In [ ]:
list(df.columns.values)

In [63]:
df = df.reset_index()

In [64]:
df2 = df2.reset_index()

In [77]:
df3 = df3.reset_index()

In [69]:
df = df.rename(columns={'group_guid': 'NumberOfGroups'})

In [72]:
df3 = pd.read_csv("C:/Users/trinet.tbs-004409/Downloads/wireguid.csv")

In [76]:
print(df3)

        WirePosts
Guid
104            40
116           102
153             1
217             4
239           173
242             1
246             8
248             2
255            32
265             4
272             3
275            17
279             9
280            13
308             1
309             3
315            33
317             1
318             1
351            52
352            84
370             1
377            15
378             7
389            65
439             1
443             2
455             1
489             1
545            52
...           ...
379927          1
380170          1
380395          2
380708          1
381513          1
382511          1
385246          1
389552          1
391887          1
392489          1
393045          1
398560          2
402749          1
403215          1
407060          1
410011          1
410407          1
410446          6
410790          2
418069          1
418289          2
419089          1
424411          2
429165          1
435761          1
446070          1
447156          1
447967          1
448040          2
448245          2

[431 rows x 1 columns]

In [74]:
df3.columns=['Guid', 'WirePosts']

In [75]:
df3 = df3.groupby(['Guid']).count()

In [79]:
df = pd.merge(df, df3, on='Guid', how = 'left')

In [86]:
df = df.rename(columns={"Guid": "Profile Number (GUID)"})

In [88]:
df.to_csv('UXJune12WithGUID.csv')

In [34]:
df.insert(9, 'Groups', '1')

In [49]:
df['Profile Completeness'] += 1

In [89]:
(df['Profile Completeness'] == 10).sum()

429

In [90]:
(df['Profile Completeness'] == 3).sum()

2966

In [91]:
(df['Profile Completeness'] == 4).sum()

970

In [92]:
(df['Profile Completeness'] == 5).sum()

1283

In [93]:
(df['Profile Completeness'] == 6).sum()

850

In [94]:
(df['Profile Completeness'] == 7).sum()

776

In [95]:
(df['Profile Completeness'] == 8).sum()

405

In [96]:
(df['Profile Completeness'] == 9).sum()

295

In [97]:
d = {"Number of Profile Elements Completed, Nombre d'éléments de profil terminés": [3, 4, 5, 6, 7, 8, 9, 10], "Number of People, Nombre de personnes": [9070, 2728, 918, 1491, 841, 423, 459, 507]}

In [98]:
q1df = pd.DataFrame(data=d)

In [99]:
print(q1df)

   Number of People, Nombre de personnes  \
0                                   9070
1                                   2728
2                                    918
3                                   1491
4                                    841
5                                    423
6                                    459
7                                    507

   Number of Profile Elements Completed, Nombre d'éléments de profil terminés
0                                                  3
1                                                  4
2                                                  5
3                                                  6
4                                                  7
5                                                  8
6                                                  9
7                                                 10

In [100]:
q1df.to_csv('q1ProfileStrengthStats.csv')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(q1df["Number of Profile Elements Completed, Nombre d'éléments de profil terminés"], q1df["Number of People, Nombre de personnes"])

In [101]:
dfq2 = df

In [102]:
dfq2 = dfq2.drop(columns=['Profile Completeness', 'NumberOfGroups', 'WirePosts'])

In [105]:
print(dfq2)

Profile Number (GUID)    16835
Avatar                    3262
DepartmentOrSchool        3950
PhoneNumber               3328
Email                    16834
Description               1806
SocialMedia               2807
Education                 2607
WorkExperiance            2248
Skills                    3955
Groups                   16835
dtype: int64

In [104]:
dfq2 = dfq2.fillna(0).astype(bool).sum(axis=0)

In [106]:
dfq2.to_csv('q2BasicInfoMostUsed.csv')

In [ ]:
gc.content.get_blogs()

In [ ]:
df = df.fillna(0)

In [ ]:
df = pd.read_csv("AlexDonnaUXDataRequestJune11final.csv")

In [ ]:
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df['WirePosts']= np.where((df.WirePosts.math.isNa),0)

In [ ]:
import math

In [ ]:
print(df)

In [ ]:
df = df.fillna(int(0))

In [81]:
df['WirePosts'] = df['WirePosts'].fillna(0.0).astype(int)

In [110]:
dfq3 = pd.read_csv("C:/Users/trinet.tbs-004409/Downloads/q3withguid.csv")

In [136]:
print(dfq3)

        Guid Profile  Portfolio  Widget  Files  Blog  Events Badge Progress  \
0         96       1          0       4      1     0       0              1
1        104       1          0       5      1     2       0              1
2        110       1          0       5      0     3       0              1
3        116       1          0      10      9     1      22              1
4        145       1          0       5      0     0       0              1
5        153       1          0       8      1     0       0              1
6        200       1          0       5      0     0       0              1
7        201       1          0       0      1     0       0              1
8        217       1          0       0      2     0       0              1
9        239       1          0      11     32     4       0              1
10       242       1          0       0      0     0       0              1
11       246       1          0       0      0     1       0              1
12       248       1          0       0      0     0       0              1
13       253       1          0       0     16     0       2              1
14       255       1          0       5      3     1       0              1
15       265       1          0       2      0     0       0              1
16       270       1          0       0      0     0       1              1
17       272       1          0       0      0     0       0              1
18       275       1          0       0      1     1       0              1
19       279       1          0       4      5     0       0              1
20       280       1          0       0      5     1       0              1
21       281       1          0       0      0     0       0              1
22       308       1          0       0      0     0       0              1
23       309       1          0       1      1     0       0              1
24       315       1          0       0      2    42       0              1
25       317       1          0       0      0     0       0              1
26       318       1          0       0      0     0       0              1
27       320       1          0       0     15     0       0              1
28       351       1          0       0      5     6       2              1
29       352       1          0      24      4     4       2              1
...      ...     ...        ...     ...    ...   ...     ...            ...
1659  410707       1          0       0      1     0       0              1
1660  410790       1          0       0      0     0       0              1
1661  412148       1          0       0      2     0       0              1
1662  412317       1          0       0      2     0       0              1
1663  412926       1          2       0      0     0       0              1
1664  416169       1          0       0      1     0       0              1
1665  416194       1          0       0      1     0       0              1
1666  418069       1          0       0      0     0       0              1
1667  418289       1          0       0     22     0       0              1
1668  419089       1          0       0      0     0       0              1
1669  419635       1          0       0      1     0       0              1
1670  419652       1          0       0      1     0       0              1
1671  419701       1          0       0      1     0       0              1
1672  424411       1          0       0      0     0       0              1
1673  427130       1          0       0      1     1       0              1
1674  429165       1          0       1      0     0       0              1
1675  430084       1          0       0     18     0       0              1
1676  430211       1          0       0      1     0       0              1
1677  431595       1          0       0      1     0       0              1
1678  435761       1          0       0      0     0       0              1
1679  437761       1          0       0      1     0       0              1
1680  441431       1          0       0      0     0       0              1
1681  441850       1          0       0      1     0       0              1
1682  446070       1          0       0      0     0       0              1
1683  447156       1          0       0      0     0       0              1
1684  447967       1          0       0      0     0       0              1
1685  448040       1          0       0      0     0       0              1
1686  448245       1          0       0      0     0       0              1
1687  448886       1          0       0      1     0       0              1
1688  449753       1          0       0      0     0       0              1

      Docs(Beta)  Pages  Bookmarks  Polls  Photo Album
0              2      0          0      0            0
1              1      0          0      0            0
2              0      0          0      0            0
3              6      0          9      0           14
4              1      0          0      0            1
5              0      0          0      0            0
6              0      0          0      0            0
7              0      0          0      0            0
8              4      0          0      0            0
9             12      0         17      0            5
10             0      0          0      0            0
11             0      0          0      0            0
12             0      0          0      0            0
13             0      0          0      0            0
14             0      0          0      0            0
15             0      0          0      0            0
16             0      0          1      0            0
17             0      0          0      0            2
18             0      0         23      0            7
19             3      0          1      0            0
20             3      0          3      1            1
21             0      0          0      0            1
22             0      0          0      0            0
23             0      0          0      0            0
24             0      0          0      0            9
25             0      0          0      0            0
26             0      0          0      0            0
27             0      0          0      0            0
28             0      0          2      0            1
29             1      0          5      1            0
...          ...    ...        ...    ...          ...
1659           0      0          0      0            0
1660           0      0          0      0            0
1661           0      0          0      0            0
1662           0      0          0      0            0
1663           0      0          0      0            0
1664           0      0          0      0            0
1665           0      0          0      0            0
1666           0      0          0      0            0
1667           0      0          0      0            0
1668           0      0          0      0            0
1669           0      0          0      0            0
1670           0      0          0      0            0
1671           0      0          0      0            0
1672           0      0          0      0            0
1673           0      0          0      0            0
1674           0      0          0      0            0
1675           0      0          0      0            0
1676           0      0          0      0            0
1677           0      0          0      0            0
1678           0      0          0      0            0
1679           0      0          0      0            0
1680           1      0          0      0            0
1681           0      0          0      0            0
1682           0      0          0      0            0
1683           0      0          0      0            0
1684           0      0          0      0            0
1685           0      0          0      0            0
1686           0      0          0      0            0
1687           0      0          0      0            0
1688           0      0          0      0            1

[1689 rows x 13 columns]

In [163]:
justInCase=justInCase.reindex(columns=["Profile Number (GUID)", 'Profile', 'Portfolio', 'Widget', 'Files', 'Blog', 'Events', 'Badge Progress', 'WirePosts', "Docs(Beta)", 'Pages', 'Bookmarks', 'Polls', 'Photo Album'])

In [112]:
dfq3.columns=['Guid', 'ContentType']

In [151]:
justInCase['Portfolio'] = justInCase['Portfolio'].fillna(0.0).astype(int)

In [152]:
justInCase['Widget'] = justInCase['Widget'].fillna(0.0).astype(int)

In [153]:
justInCase['Files'] = justInCase['Files'].fillna(0.0).astype(int)

In [154]:
justInCase['Blog'] = justInCase['Blog'].fillna(0.0).astype(int)

In [155]:
justInCase['Events'] = justInCase['Events'].fillna(0.0).astype(int)

In [156]:
justInCase['Pages'] = justInCase['Pages'].fillna(0.0).astype(int)

In [157]:
justInCase['Bookmarks'] = justInCase['Bookmarks'].fillna(0.0).astype(int)

In [158]:
justInCase['Polls'] = justInCase['Polls'].fillna(0.0).astype(int)

In [159]:
justInCase['Photo Album'] = justInCase['Photo Album'].fillna(0.0).astype(int)

In [161]:
justInCase["Docs(Beta)"] = justInCase["Docs(Beta)"].fillna(0.0).astype(int)

In [165]:
justInCase["Profile"] = justInCase["Profile"].fillna(0.0).astype(int)

In [166]:
justInCase["Badge Progress"] = justInCase["Badge Progress"].fillna(0.0).astype(int)

In [133]:
justInCase = df

In [ ]:
justInCase.to_csv('justInCase.csv')

In [113]:
dfq3['Portfolio']= np.where((dfq3.ContentType == 35),1,0)

In [ ]:
dfq3.columns=['Name', 'ContentType']

In [114]:
dfq3['Widget']= np.where((dfq3.ContentType == 3),1,0)

In [115]:
dfq3['Files']= np.where((dfq3.ContentType == 2),1,0)

In [116]:
dfq3['Blog']= np.where((dfq3.ContentType == 6),1,0)

In [117]:
dfq3['Events']= np.where((dfq3.ContentType == 18),1,0)

In [118]:
dfq3['Pages']= np.where((dfq3.ContentType == 40),1,0)

In [119]:
dfq3['Bookmarks']= np.where((dfq3.ContentType == 38),1,0)

In [120]:
dfq3['Polls']= np.where((dfq3.ContentType == 41),1,0)

In [121]:
dfq3['Photo Album']= np.where((dfq3.ContentType == 19),1,0)

In [122]:
dfq3["Docs(Beta)"]= np.where((dfq3.ContentType == 59),1,0)

In [124]:
dfq3 = dfq3.groupby(['Guid']).sum()

In [125]:
dfq3 = dfq3.drop(columns=['ContentType'])

In [ ]:
dfq3.fillna(0).astype(bool).sum(axis=0)

In [128]:
dfq3.insert(1, 'Profile', '1')

In [129]:
dfq3.insert(6, 'Badge Progress', '1')

In [135]:
dfq3 = dfq3.reset_index()

In [148]:
justInCase = justInCase.drop(columns=['Avatar', 'DepartmentOrSchool', 'PhoneNumber', 'Email', 'SocialMedia', 'Description', 'Education', 'WorkExperiance', 'Skills', 'Groups', 'Profile Completeness', 'NumberOfGroups'])

In [140]:
dfq3 = dfq3.rename(columns={"Guid": "Profile Number (GUID)"})

In [170]:
justInCase['Profile'] = 1
justInCase['Badge Progress'] = 1

In [175]:
print(justInCase2)

Profile Number (GUID)    16835
Profile                  16835
Portfolio                   43
Widget                     254
Files                      998
Blog                       164
Events                     219
Badge Progress           16835
WirePosts                  426
Docs(Beta)                 216
Pages                       17
Bookmarks                  129
Polls                       52
Photo Album                238
dtype: int64

In [174]:
justInCase2 = justInCase.fillna(0).astype(bool).sum(axis=0)

In [177]:
justInCase2.to_csv('q3ProfileFunctionUseFormat2.csv')

In [144]:
justInCase = pd.merge(justInCase, dfq3, on="Profile Number (GUID)", how = 'left')

In [ ]:
df = df.drop(columns=['Profile'])

In [ ]:
df.insert(1, 'Profile', '1')

In [ ]:
helper = pd.read_csv("AlexDonnaUXDataRequestJune11Final.csv")

In [ ]:
print(df)

In [ ]:
df.insert(6, 'Badge Progress', '1')

In [ ]:
helper = helper.drop(columns=['Avatar', 'DepartmentOrSchool', 'PhoneNumber', 'Email', 'SocialMedia', 'Description', 'Education', 'WorkExperiance', 'Skills', 'Groups', 'Profile Completeness', 'NumberOfGroups', 'Unnamed: 0'])

In [ ]:
df = pd.merge(df, helper, on='Name')

In [ ]:
friend = pd.read_csv("friend.csv")

In [ ]:
print(friend)

In [ ]:
friend.to_csv('q5numberOfColleges.csv')

In [ ]:
friend = friend.reset_index()

In [ ]:
friend.columns=['Profile number (GUID)', 'Number of colleges']

In [ ]:
friend = friend.drop(columns=['Relationship'])

In [ ]:
friend = friend.drop(columns=['Name'])

In [ ]:
friend = friend.groupby(['GUID']).count()

In [ ]:
friend2 = pd.read_csv("friend.csv")

In [ ]:
friend2.columns=['Name', 'GUID', 'Relationship', 'FGUID']

In [ ]:
friend2 = friend2.drop(columns=['Relationship'])

In [ ]:
print(friend2)

In [ ]:
friend2 = friend2.drop(columns=['FGUID'])

In [ ]:
friend = pd.merge(friend, friend2, on='GUID', how = 'left')